@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-text fs-4 fw-bold text-center text-secondary" style="flex-grow: 1; color: #ffffff !important;">Plataforma de Visualización de Tableros</h1>
</div>
